[submodule "Same-chat-api"]
	path = Same-chat-api
	url = git@github.com:luiscaro1/Same-chat-api.git
	branch = master
[submodule "Same-authentication-api"]
	path = Same-authentication-api
	url = git@github.com:luiscaro1/Same-authentication-api.git
	branch = master
[submodule "Same-media-api"]
	path = Same-media-api
	url = git@github.com:luiscaro1/Same-media-api.git
	branch = master
[submodule "Same-voice-api"]
	path = Same-voice-api
	url = git@github.com:luiscaro1/Same-voice-api.git
	branch = master	
[submodule "Same-client-ui"]
	path = Same-client-ui
	url = git@github.com:luiscaro1/Same-client-ui.git
	branch = master	
